<div id="about">
  <div class="about-body">
    <div class="about-main">
      <div>
        <h2>About Credit Builders Group</h2>
        <p>
          For more than 10 years, we have been Repairing Credit and Enhancing
          Credit. We have 1000's of Clients that are Very Happy with our Services
          and they Have sent many Friends and Family to us so that they can get
          the same Great Service
        </p>
        <p>
          Take a look at our Services and Prices and you too will be Amazed.
          Ready, Let's get you started Today
        </p>
      </div>
      <div>
        <img src="assets/consult.gif" alt="Free Consultation" />
        <span>How's Your Credit</span>
      </div>
    </div>
    <div class="about-big-section">
      <h2>ROAD TO BETTER CREDIT</h2>
      <h2>Get Your Free Credit Consultation </h2>
      <h2>
        Send us a copy of your Credit Report & We will Send You A Free Report
        On What You Need To Do To Improve
      </h2>
  ​    <h2>YOUR CREDIT</h2>
      <div class="about-bottom-img">
        <img src="assets/foot1.jpg" alt="" />
        <img src="assets/foot2.jpg" alt="" />
        <img src="assets/foot3.png" alt="" />
        <img src="assets/foot4.png" alt="" />
      </div>
    </div>
  </div>
  <div class="about-footer">
    <ul class="company-info">
      <li>[San Diego, Ca.]</li>
      <li>|  858 480 6245  |</li>
      <li>creditbuildersgroup@gmail.com</li>
    </ul>

  </div>

</div>
