<div id="about">
  <div class="about-body">
    <div class="about-main">
      <div class="about-credit">
        <h2 class="panel-heading">About Credit Builders Group</h2>
        <h2><small>
          For more than 10 years, we have been Repairing Credit and Enhancing
          Credit. We have 1000's of Clients that are Very Happy with our Services
          and they Have sent many Friends and Family to us so that they can get
          the same Great Service.</small>
        </h2>
        <h2><small>
          Take a look at our Services and Prices and you too will be Amazed.
          Ready, Let's get you started Today.</small>
        </h2>
      </div>
    </div>
    <div class="about-big-section">
      <h2 class="panel-heading">ROAD TO BETTER CREDIT</h2>
      <div class="big-section">
        <h2><span class="YC">Get Your Free Credit Consultation</span></h2>
        <h2>
          Send Us A Copy of Your Credit Report & We Will Send You A Free Report
          On What You Need To Do To Improve
        </h2>
    ​    <h2><span class="YC">YOUR CREDIT</span></h2>
      </div>
      <div class="about-bottom-img">
        <div class="col-md-2">
          <img src="assets/foot1.jpg" alt="" />
        </div>
        <div class="col-md-2">
          <img src="assets/foot2.jpg" alt="" />
        </div>
        <div class="col-md-2">
          <img src="assets/foot3.png" alt="" />
        </div>
        <div class="col-md-2">
          <img src="assets/foot4.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="about-footer">
    <ul class="company-info">
      <li>[San Diego, Ca.]</li>
      <li>|  858 480 6245  |</li>
      <li>creditbuildersgroup@gmail.com</li>
    </ul>

  </div>

</div>
