<div id="contact">
  <div class="contact-body">
    <img src="assets/consult.gif" alt="Free Consultation"/>
    <div class="contact-form">
      <h1>Contact</h1>
      <h3>Send A Message</h3>
      <h3>Give us a Call 858-480-6245</h3>
      <ng-form name="cont" ng-submit="">
        <label>NAME:*</label>
        <input type="text" ng-required/>
        <label>EMAIL:*</label>
        <input type="text" ng-required/>
        <label>SUBJECT:*</label>
        <input type="text" ng-required/>
        <label>MESSAGE:*</label>
        <textarea ng-required/>
        <button type="submit">Submit</button>
      </ng-form>
    </div>
  </div>
  <div class="contact-footer">
    <ul class="company-info">
      <li>[San Diego, Ca.]</li>
      <li>|  858 480 6245  |</li>
      <li>creditbuildersgroup@gmail.com</li>
    </ul>
  </div>
</div>
