<div id="home">
  <div class="home-body center-block">
    <div id="pitch" class="jumbotron panel panel-primary">
      <h2 class="text-center panel-heading">What Sets us Apart</h2>
      <ul class="text-center list-group pitch panel-body">
        <li class="list-group-item list-group-item-info"><h4>Fast Service</h4></li>
        <li class="list-group-item list-group-item-info"><h4>We do What We Say</h4></li>
        <li class="list-group-item list-group-item-info"><h4>Professional</h4></li>
        <li class="list-group-item list-group-item-info"><h4>Quick Replies</h4></li>
      </ul>
    </div>
  </div>
  <div class="home-footer panel panel-success">
    <div class="home-footer-top panel-heading">
      <h1 class="text-center ">Full Service You Can Trust And Depend On</h1>
    </div>
    <div class="home-footer-items panel-body">
      <img src="assets/stack.png" class="center-block" alt="How does your credit stack" />
    </div>
  </div>
</div>
