<div id="home">
  <div class="home-body">
    <div id="pitch">
      <h2 class="pitch-header panel-heading">What Sets Us Apart</h2>
      <ul class="pitch-list">
        <li class="pitch-items"><h4>Fast Service</h4></li>
        <li class="pitch-items"><h4>We do What We Say</h4></li>
        <li class="pitch-items"><h4>Professional</h4></li>
        <li class="pitch-items"><h4>Quick Replies</h4></li>
      </ul>
    </div>
  </div>
  <div class="home-footer">
    <div class="home-footer-top panel-heading">
      <h1 class="footer-header">Full Service You Can Trust And Depend On</h1>
    </div>
    <div class="home-footer-items">
      <img src="assets/stack.png" class="" alt="How does your credit stack" />
    </div>
  </div>
</div>
