<div id="navigation" class="">
  <div class="cbg-header page-header clearfix text-center panel panel-primary">
    <!--<img src="{{logoUrl}}" class="pull-left img-responsive"/>-->
    <h1 class="panel-heading"><strong>{{header}}</strong></h1>
    <ul class="list-inline panel-body">
      <li class="" ng-repeat="listitem in headerList" >
        <h3><span class="caret"></span> {{listitem}} <span class="caret"></span></h3>

      </li>
    </ul>
  </div>
  <nav>
      <ul class="nav nav-pills nav-justified well">
        <li role="presentation" ui-sref-active="active" ng-repeat="item in items">
          <a ui-sref="{{ item.view }}" >
            <h5>{{item.text}}</h5>
          </a>
        </li>
      </ul>
  </nav>
</div>
